---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: false

photo_grid:
  - image_path: images/gallery/Wolfgang_and_me.jpg
    alt: "Wolfgang and me"
    title: "Final presentation at the MIT."
  - image_path: images/gallery/BECV.jpeg
    alt: "BECV group members"
    title: "BECV group members at the Killian courtyard, MIT."
  - image_path: images/gallery/QNLO.jpeg
    alt: "QNLO group at NISER"
    title: "QNLO group at NISER, Bhubaneswar."
  - image_path: images/gallery/Taiwan_Lab_Group.jpg
    alt: "Taiwan Lab Group"
    title: "Prof Yi Wei Liu's group at National Tsing Hua University, Taiwan."
  - image_path: images/gallery/Neko.jpg
    alt: "Neko.jpg"
    title: "Neko, collecting bills at bakery in Hsinchu, Taiwan."
  - image_path: images/gallery/Li_MOT_BECV.jpg
    alt: "Li MOT BECV"
    title: "Lithium MOT at BECV, MIT."

---

{% include base_path %}

{% include gallery id="photo_grid" %}

<!-- {% include base_path %}


{% for post in site.gallery %}
  {% include archive-single.html %}
{% endfor %} -->

