---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: false

photo_grid:
  - url: /gallery/Wolfgang_and_me.jpg
    image_path: /gallery/Wolfgang_and_me.jpg
    alt: "Wolfgang and me"
    title: "Final presentation at the MIT."
  - url: /gallery/BECV.jpeg
    image_path: /gallery/BECV.jpeg
    alt: "BECV group members"
    title: "BECV group members at the Killian courtyard, MIT."
  - url: /gallery/QNLO.jpeg
    image_path: /gallery/QNLO.jpeg
    alt: "QNLO group at NISER"
    title: "QNLO group at NISER, Bhubaneswar."
  - url: /gallery/Taiwan_Lab_Group.jpg
    image_path: /gallery/Taiwan_Lab_Group.jpg
    alt: "Taiwan Lab Group"
    title: "Prof Yi Wei Liu's group at National Tsing Hua University, Taiwan."
  - url: /gallery/Neko.jpg
    image_path: /gallery/Neko.jpg
    alt: "Neko.jpg"
    title: "Neko, collecting bills at bakery in Hsinchu, Taiwan."
  - url: /gallery/Li_MOT_BECV.jpg
    image_path: /gallery/Li_MOT_BECV.jpg
    alt: "Li MOT BECV"
    title: "Lithium MOT at BECV, MIT."

---

{% include base_path %}

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
  {% for photo in page.photo_grid %}
    <figure style="margin: 0; display: flex; flex-direction: column; text-align: center;">
      <img src="{{ base_path }}/images/{{ photo.image_path }}" alt="{{ photo.alt }}" style="width: 100%; border-radius: 5px;">
      <figcaption style="font-size: 0.9em; margin-top: 10px; color: #cccccc;">{{ photo.title }}</figcaption>
    </figure>
  {% endfor %}
</div>

<!-- {% include gallery id="photo_grid" %} -->

<!-- {% include base_path %}


{% for post in site.gallery %}
  {% include archive-single.html %}
{% endfor %} -->

